// MATERIAL

$box-no-fill: true;
$enable-shadows: true;
$input-focus-bottom: true;
$prefer-filled-buttons: true;
$clear-checkboxes: true;
$material-switches: true;
$target-radio: true;
$radius2: 0.2rem;
$fillable-theme: true;
$white8: #ccc;


@import '../main.scss';
