

// Medium

$full-round-buttons: true;
$prefer-outline-instead-normal: true;
$box-no-fill: true;
$full-round-inputs: true;
$input-no-fill: true;

$input-no-fill: true;
$input-border-bottom: true;
$input-focus-bottom: true;
$white8: #ccc;

$dark-sidebar: true;

$theme2: hsl(118,51%,31%);
$theme: hsl(44,100%,55%);
$black8: hsl(240,20%,30%);
$black1: hsl(240,40%,6%);
$radius1: 6px;
$radius2: 10px;


@import '../main.scss';
