

$button-normal-border: true;
$button-hover-outline: true;
$fill-buttons: true;
$button-normal-border: true;
$box-border: true;
$button-normal-border: true;
$theme2: #5B48E9;
$theme: #5B48E9;
$black8: hsl(226,25%,30%);
$black1: hsl(234,53%,7%);
$radius1: 4px;
$radius2: 8px;


@import '../main.scss';
